/* src/index.css */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Ou a fonte que você escolheu */
  height: 100%;
  background-color: #f0f2f5; /* Fundo cinza claro para a aplicação */
}

#root {
  width: 100%;
  height: 100%;
}